In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data tidying and cleaning lecture

In [4]:
pew = pd.read_csv("data/pew.csv")
pew_tidy = pew.melt( 
    id_vars = ["religion"], # Identifier variables (all others are "unpivoted")
    var_name = "income", # Variable
    value_name = "frequency" # Value
)

In [6]:
pew.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

In [7]:
pew_tidy.head()

             religion income  frequency
0            Agnostic  <$10k         27
1             Atheist  <$10k         12
2            Buddhist  <$10k         27
3            Catholic  <$10k        418
4  Don’t know/refused  <$10k         15